<div class="container" id="posts-admin">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">

    <div class="col-xs-6 col-md-6 text-center">
      <%= link_to "Novo Post", new_post_path, class: "btn btn-primary btn-block btn-lg btn-default" %>
    </div>
    
    <div class="col-xs-6 col-md-6 text-center">
      <%= link_to "Home", root_path, class: "btn btn-success btn-block btn-lg btn-default" %>
    </div>

    <% @posts.reverse_each do |post| %>
    <div class="col-xs-12" id="posts-admin">
      <div class="col-xs-3 text-center">
        <img src="#">
      </div>
      <div class="col-xs-6 text-center">
        <h2><%= link_to post.title, post_path(post) %></h2>
        <%= post.body[/>(.*?)</].truncate(358) %>
      </div>

      <div class="col-xs-3 text-center">
        <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>        
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>